<h1 class="__header" data-test-post-preview-header>{{post.title}}</h1>

<p class="__content-preview" data-test-post-preview-content>
  {{previewText}}
</p>
<div class="__timestamp">
  {{moment-time-ago post.createdAt}}
</div>
