@import 'modules/variables';
@import 'reset';
@import 'modules/responsive-mixins';
@import 'modules/material-icons';
@import 'modules/route-posts';
@import 'pod-styles';
@import 'ember-paper';

// globals
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  line-height: 1.7em;
}

h1 {
  font-size: $font-size-x-large;
  color: $grey-700;
  line-height: 1.2em;
  margin-bottom: 10px;
  font-weight: 400;
}

p {
  font-size: $font-size-medium;
  color: $grey-600;
}

.component--limit-width {
  max-width: $component-max-width;
  margin: 0 auto;
}

.application-container {
  padding-top: 100px;
  max-height: 100vh;
}

.--scroll-locked {
  overflow: hidden !important;
  position: fixed !important;
  width: 100vw;
  height: 100vw;
}
