& {
  padding: 15px;
  background: $grey-50;
  border-bottom: 1px solid $grey-200;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .material-icons {
    color: $red-A200;
    font-size: $font-size-x-large;
  }
  .__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .__icon {
    min-width: 40px;
  }
  .__logo {
    display: flex;
    align-items: center;

    .material-icons {
      color: $grey-400;
      font-size: $font-size-xx-large;
    }
  }
  .__logo-label {
    display: none;
    font-family: 'Pacifico', cursive;
    color: $grey-400;
    font-size: $font-size-x-large;

    @include tablet-up {
      display: inline;
    }
  }
}
