<div class="__container component--limit-width">
  <span>
    <i class="material-icons">arrow_back</i>
  </span>
  <span class="__logo">
    <i class="material-icons">insert_emoticon</i>
    <span class="__logo-label">Hooray!</span>
  </span>
  <span>
    <i class="material-icons">add_circle_outline</i>
  </span>
</div>
