& {
  &.ember-notify-default {
    .ember-notify {
      border: 0;
    }
  }
  .message {
    color: #ffffff;
    font-weight: 400;
  }
  .success {
    background: $green-A700;
  }
  .alert {
    background: $red-700;
  }
  .close {
    font-size: $font-size-x-large;
    color: #ffffff;
  }
}
