& {
  padding: 15px;
  position: relative;

  .__edit-icon {
    cursor: pointer;

    .material-icons {
      color: $red-A200;
      font-size: $font-size-large;
    }
  }
  .__timestamp {
    color: $green-A700;
    font-weight: 400;
    font-size: $font-size-regular;
  }
  .__content {
    margin-top: 15px;
  }
}
