<h1 class="__header" data-test-post-full-header>
  {{post.title}}
</h1>
<span class="__timestamp">
  {{moment-time-ago post.createdAt}}
</span>
<p class="__content" data-test-post-full-content>
  {{post.content}}
</p>
